### Question 1

Add Two Numbers

In [2]:
# Your answer here
def sum(a, b):
    return a+b
num1, num2 = map(int, input().split())
print(sum(num1, num2))

30

### Question 2

Find the Square Root

In [1]:
# Your answer here
def square_root(num):
    return num**0.5
num = int(input())
print(square_root(num))

5.0

### Question 3

Calculate the Area of a Triangle (Take input Base and Height)

In [3]:
# Your answer here
def area_triangle(base, height):
    return 0.5 * base * height
base = int(input())
height = int(input())
print(area_triangle(base, height))

250.0

### Question 4

Solve Quadratic Equation

In [2]:
# Your answer here
import cmath

def quadratic(a, b, c):
    d = (b**2) - (4*a*c)
    root1 = (-b+cmath.sqrt(d))/(2*a)
    root2 = (-b-cmath.sqrt(d))/(2*a)
    return root1, root2
a = int(input())
b = int(input())
c = int(input())

r1, r2 = quadratic(a,b,c)
print(f"Roots of equation {a}x^2 + {b}x + {c} are {r1} and {r2}")

Roots of equation 4x^2 + 6x + 2 are (-0.5+0j) and (-1+0j)

### Question 5

Swap Two Variables (Take two numbers swap it)

In [1]:
# Your answer here
def swap(a,b):
    a, b = b, a
    return a, b 
a = int(input())
b = int(input())
print(swap(a, b))

(20, 10)

### Question 6

Convert Kilometers to Miles (Take input km)

In [1]:
# Your answer here
def km_mile(distance):
    return distance*0.6214
distance = int(input("Enter the distance: "))
print(km_mile(distance))

6.2139999999999995

### Question 7

Convert Celsius To Fahrenheit (Take input in Celsius)

In [3]:
# Your answer here
def celsius_fahrenheit(degree):
    return (degree* 9/5) + 32
celsius = float(input())
print(celsius_fahrenheit(celsius))

98.6

### Question 8

Check if a Number is Positive, Negative or 0

In [3]:
# Your answer here
def check_number(num):
    if num<0:
        return "Negative" 
    elif num>0:
        return "Positive"
    else:
        return "Zero"
    
num = int(input())
print(check_number(num))

Negative

### Question 9

Check if a Number is Odd or Even

In [4]:
# Your answer here
def odd_even(num):
    if num%2!=0:
        return "Odd"
    else:
        return "Even"
    
num = int(input())
print(odd_even(num))

Odd

### Question 10

Check Leap Year

In [6]:
# Your answer here
def leap(year):
    if year%400==0:
        return True
    else:
        if year%4==0:
            if year%100!=0:
                return True
        else:
            return False
year = int(input())
if leap(year):
    print(f"{year} is a leap year.")
else:
    print(f"{year} is not a leap year.")

2000 is a leap year.

### Question 11

Find the Largest Among Three Numbers (Take 3 numbers as a input)

In [7]:
# Your answer here
def largest(num1, num2, num3):
    maximum = max(num1, num2, num3)
    return maximum
a, b, c = map(int, input().split())
print(largest(a,b,c))

30

### Question 12

Second Largest among three number(take input three number)

In [8]:
# Your answer here
def second_largest(num1, num2, num3):
    numbers = [num1, num2, num3]
    numbers.sort()
    return numbers[1]
a, b, c = map(int, input().split())
print(second_largest(a,b,c))

23

### Question 13

Display the multiplication Table ex - (2 *1 = 2)

In [11]:
# Your answer here
def table(num):
    for i in range(1, 11):
        print(f"{num} * {i} = {num*i}")
num = int(input())
table(num)

989 * 1 = 989
989 * 2 = 1978
989 * 3 = 2967
989 * 4 = 3956
989 * 5 = 4945
989 * 6 = 5934
989 * 7 = 6923
989 * 8 = 7912
989 * 9 = 8901
989 * 10 = 9890

### Question 14

Find the Factorial of a Number

In [12]:
# Your answer here
def factorial(num):
    if num==0 or num==1:
        return 1
    else:
        return num * factorial(num-1)

num = int(input())
print(factorial(num))

3628800

### Question 15

Perfect Square

In [13]:
# Your answer here
def perfect_square(num):
    if num<=0:
        return "Zero and negative values can't be a square."
    else:
        root = num**0.5
        if root**2==num:
            return True
    
num = int(input())
if perfect_square(num):
    print(f"{num} is a perfect square.")
else:
    print(f"{num} is not a perfect square.")

24 is not a perfect square.

### Question 16

Check Prime Number (Take one number check it number is prime or not)

In [16]:
# Your answer here
def check_prime(num):
    if num<2:
        return "Prime number starts from 2"
    else:
        for i in range(2, num):
            if num%i == 0:
                return True
num = int(input())
if check_prime(num):
    print(f"{num} is not a prime number.")
else:
    print(f"{num} is a prime number.")

1 is not a prime number.

### Question 17

Find the Sum of Natural Numbers

In [17]:
# Your answer here
def sum_naturals(num):
    sum = 0
    for i in range(1, num+1):
        sum += i
    return sum
num = int(input())
print(f"Sum upto {num}: {sum_naturals(num)}")

Sum upto 10: 55

### Question 18

Find the Factors of a Number

In [18]:
# Your answer here
def factors(num):
    factors_list = []
    for i in range(1, num+1):
        if num%i==0:
            factors_list.append(i)
        else:
            continue
    return factors_list
num = int(input())
print(f"Factors of {num}: {factors(num)}")

Factors of 10: [1, 2, 5, 10]

### Question 19

Check Whether a Number is Palindrome or Not

In [1]:
# Your answer here
def palindrome(num):
   original = str(num)
   reverse = original[::-1]
   return original == reverse 
num = int(input())
if palindrome(num):
    print(f"{num} is a palindrome.")
else:
    print(f"{num} is not a palindrome.")

10101 is a palindrome.

### Question 20

Print the Fibonacci sequence (Display till number input)

In [4]:
# Your answer here
def fibonacci(num):
    a, b = 0, 1
    while a<=num:
        print(a, end=',')
        a, b = b, a+b
num = int(input())
fibonacci(num)

0,1,1,2,3,5,8,13,21,34,55,89,

### Question 21

Check Armstrong Number

In [ ]:
# Your answer here
def armstrong(num):
    n = len(str(num))
    temp = num
    sum = 0
    while temp > 0:
        digit = temp % 10
        sum += digit ** n
        temp //=10
    return sum == num
num = int(input())
if armstrong(num):
    print(f"{num} is an armstrong number.")
else:
    print(f"{num} is not an armstrong number.")

153 is an armstrong number.

### Question 22

Reverse a Number

In [1]:
# Your answer here
def reverse(num):
    return int(str(num)[::-1] if num>=0 else -int(str(-num)[::-1]))
num = int(input())
print(reverse(num))

2101

### Question 23

Find HCF or GCD

In [2]:
# Your answer here
def hcf(a, b):
    return a if b==0 else hcf(b, a%b)
a = int(input())
b = int(input())
print(hcf(a, b))

5

### Question 24

Find LCM

In [3]:
# Your answer here
def hcf(a, b):
    return a if b==0 else hcf(b, a%b)
def lcm(a, b):
    return abs(a*b) // hcf(a, b)

a = int(input())
b = int(input())
print(lcm(a, b))

370

### Question 25

Print all Prime Numbers in an Interval

In [4]:
# Your answer here
def prime(num):
    if num<2:
        return "Prime Number starts from 2"
    else:
        for i in range(2, num):
            if num%i==0:
                return False
        return True

start = int(input())
end = int(input())
for num in range(start, end+1):
    if prime(num):
        print(num, end=' ')

11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

### Question 26

Find Armstrong Number in an Interval

In [6]:
# Your answer here
def armstrong(num):
    n = len(str(num))
    temp = num
    sum = 0
    while temp > 0:
        digit = temp % 10
        sum += digit**n
        temp //=10
    return sum == num
start = int(input())
end = int(input())
for num in range(start, end+1):
    if armstrong(num):
        print(num, end=' ')

1 2 3 4 5 6 7 8 9 153 370 371 407 1634 8208 9474

### Question 27

Display Powers of 2 Using Anonymous Function

In [13]:
# Your answer here
def power():
    return lambda num: 2**num

num = int(input("Enter the number upto which powers should be printed:"))
print("Total Terms:", num)
pow_func = power()
for i in range(num+1):
    print(f"2 raised to power {i}= {pow_func(i)}")

Total Terms: 10
2 raised to power 0= 1
2 raised to power 1= 2
2 raised to power 2= 4
2 raised to power 3= 8
2 raised to power 4= 16
2 raised to power 5= 32
2 raised to power 6= 64
2 raised to power 7= 128
2 raised to power 8= 256
2 raised to power 9= 512
2 raised to power 10= 1024

### Question 28

Find Numbers Divisible by Another Number

In [17]:
# Your answer here
def divisible():
    return lambda x, y: x % y==0

limit = int(input("Enter the limit:"))
divisor = int(input("Enter the divisor:"))

is_divisble = divisible()
print(f"Numbers divisible by {divisor} up to {limit}:")
for i in range(1, limit+1):
    if is_divisble(i, divisor):
        print(i)

Numbers divisible by 90 up to 1000:
90
180
270
360
450
540
630
720
810
900
990

### Question 29

Convert Decimal to Binary, Octal and Hexadecimal

In [1]:
# Your answer here
num = int(input())
def dec_bin(num):
    if num > 1:
       dec_bin(num//2)
    print(num % 2,end = '')
dec_bin(num)
# print()

10010

### Question 30

Find ASCII Value of Character

In [5]:
# Your answer here
val = input()
print(ord(val[0]))

49

### Question 31

Make a Simple Calculator

In [6]:
# Your answer here
# Already did this part

### Question 32

Shuffle Deck of Cards

In [5]:
# Your answer here
suits = ['clubs','diamonds','hearts','spades']
ranks = ['2','3','4','5','6','7','8','9','10','J','Q','K','A']
deck = [f"{rank} of {suit}" for rank in ranks for suit in suits]
print(deck)
import random
random.shuffle(deck)
print(deck)

['2 of clubs', '2 of diamonds', '2 of hearts', '2 of spades', '3 of clubs', '3 of diamonds', '3 of hearts', '3 of spades', '4 of clubs', '4 of diamonds', '4 of hearts', '4 of spades', '5 of clubs', '5 of diamonds', '5 of hearts', '5 of spades', '6 of clubs', '6 of diamonds', '6 of hearts', '6 of spades', '7 of clubs', '7 of diamonds', '7 of hearts', '7 of spades', '8 of clubs', '8 of diamonds', '8 of hearts', '8 of spades', '9 of clubs', '9 of diamonds', '9 of hearts', '9 of spades', '10 of clubs', '10 of diamonds', '10 of hearts', '10 of spades', 'J of clubs', 'J of diamonds', 'J of hearts', 'J of spades', 'Q of clubs', 'Q of diamonds', 'Q of hearts', 'Q of spades', 'K of clubs', 'K of diamonds', 'K of hearts', 'K of spades', 'A of clubs', 'A of diamonds', 'A of hearts', 'A of spades']
['10 of hearts', '2 of spades', 'J of spades', 'K of spades', '2 of clubs', '7 of spades', 'K of clubs', '3 of hearts', '9 of hearts', '5 of clubs', 'A of diamonds', '8 of hearts', '10 of spades', '8 of spades', '4 of spades', '6 of diamonds', '2 of diamonds', 'A of spades', '3 of spades', '5 of spades', '9 of spades', '9 of clubs', 'K of diamonds', '5 of hearts', '7 of hearts', '4 of hearts', '9 of diamonds', 'J of clubs', 'J of hearts', 'Q of clubs', 'Q of hearts', '6 of clubs', 'Q of spades', 'A of clubs', '8 of diamonds', '10 of clubs', '3 of diamonds', '5 of diamonds', 'Q of diamonds', '10 of diamonds', '8 of clubs', 'J of diamonds', 'A of hearts', '6 of hearts', '4 of clubs', 'K of hearts', '2 of hearts', '6 of spades', '4 of diamonds', '7 of diamonds', '7 of clubs', '3 of clubs']

### Question 33

Display Calendar

In [10]:
# Your answer here
import datetime
print(datetime.date.today())

2025-08-20

### Question 34

Display Fibonacci Sequence Using Recursion

In [13]:
def fib_recur(num):
    if num<0:
        return "Please Enter positive number!"
    elif num<=1:
        return num
    else:
        return (fib_recur(num-1) + fib_recur(num-2))

num = int(input())
for i in range(num+1):
    print(fib_recur(i))

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610

### Question 35

Find Sum of Natural Numbers Using Recursion

In [17]:
# Your answer here
def sum_nn(num):
    if num==0:
        return 0
    else:
        return num + sum_nn(num-1)
num = int(input())
print(sum_nn(num))

500500

### Question 36

Find Factorial of Number Using Recursion

In [21]:
# Your answer here
def factorial(num):
    if num==0 or num==1:
        return 1
    else:
        return num * factorial(num-1)

num = int(input())
print(factorial(num))

93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

### Question 37

Convert Decimal to Binary Using Recursion

In [22]:
# Your answer here
def dec_bin(num):
    if num==0:
        return 0
    elif num==1:
        return 1
    else:
        return (num%2) + 10 * dec_bin(num//2)
num = int(input())
print(dec_bin(num))

1101100

### Question 38

Add Two Matrices

In [2]:
# Your answer here
def add_mat(mat1, mat2):
    sum_mat = [[mat1[i][j] + mat2[i][j] for j in range(len(mat1[0]))] for i in range(len(mat1))]
    for sum in sum_mat:
        print(sum)
a = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
b = [[9, 8, 7], [6, 5, 4], [3, 2, 1]]
add_mat(a, b)

[10, 10, 10]
[10, 10, 10]
[10, 10, 10]

### Question 39

Transpose a Matrix

In [3]:
# Your answer here
def transpose(matrix):
        print("ðŸ˜’")
name = input()
transpose(name)

ðŸ˜’

### Question 40

Multiply Two Matrices

In [2]:
# Your answer here
def multiply_mat(mat1, mat2):
    prod_mat = [[mat1[i][j] * mat2[i][j] for j in range(len(mat1[0]))] for i in range(len(mat1))]
    for prod in prod_mat:
        print(prod)
a = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
b = [[9, 8, 7], [6, 5, 4], [3, 2, 1]]
multiply_mat(a, b)

[9, 16, 21]
[24, 25, 24]
[21, 16, 9]

### Question 41

Check Whether a String is Palindrome or Not

In [5]:
# Your answer here
def palindrome(name):
    return 1 if name == name[::-1] else 0
name = input()
if palindrome(name):
    print("Palindrome number")
else:
    print("Not a palindrome!!")

Palindrome number

### Question 42

Remove Punctuations From a String

In [6]:
# Your answer here
import string
def punctuations(lst):
    new_list = []
    for word in lst:
        for char in word:
            if char in string.punctuation:
                word = word.replace(char,"")
        new_list.append(word)
    return new_list
lst = ["How's", "Hello,", "Goodbye!", "Take Care", ""]
print(punctuations(lst))

['Hows', 'Hello', 'Goodbye', 'Take Care', '']

### Question 43

Sort Words in Alphabetic Order

In [11]:
# Your answer here
words = input().split()
print(sorted(words))

['apple', 'ball', 'cat', 'dog']

### Question 44

Illustrate Different Set Operations

In [19]:
# Your answer here
s = set({'python','ruby','java','javascript','fortran'})
print(s)

s.add('gorilla')
print(s)

# {'fortran', 'javascript', 'python', 'ruby', 'java'}
# {'fortran', 'javascript', 'gorilla', 'python', 'ruby', 'java'}
# In theory, sets contains values in random order but in reality, it orders on the basis of hash values, so next time order depends on hash values!!

{'fortran', 'javascript', 'python', 'ruby', 'java'}
{'fortran', 'javascript', 'gorilla', 'python', 'ruby', 'java'}

### Question 45

Count the Number of Each Vowel

In [25]:
def vowel(name):
    words = ['a','e','i','o','u']
    count = 0
    for i in name.lower():
        if i in words:
            count += 1
    return count
name = input()
print(name)
print(vowel(name))

cOUnt thE numbEr Of EAch vOwEl
10

### Question 46

Merge Mails

In [32]:
# Your answer here
with open('mail1.txt','r') as m1, open('mail2.txt','r') as m2:
    m1_content = m1.read()
    m2_content = m2.read()
    merged = m1_content + '\n' + m2_content
with open('merged.txt','w') as f:
    f.write(merged)
    print(merged)

Hi, I hope this message finds you well. and you're doing great.

I am applying for your job as stated on your website. Hope I get this!!

### Question 47

Find the Size (Resolution) of an Image

In [35]:
# Your answer here
from PIL import Image
img = Image.open('match.png')
wid, ht = img.size
print(str(wid) +"x" + str(ht))

1587x798

### Question 48

Find Hash of File

In [5]:
# Your answer here
name = input()
print(str(hash(name)))

-6264999868446383707

### Question 49

Create Pyramid Patterns

In [7]:
# Your answer here
def pyramid(n):
    for i in range(1, n+1):
        for j in range(n-i):
            print(" ", end="")
        for k in range(1, 2*i):
            print("*",end="")
        print()
pyramid(10)

         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
*******************

### Question 50

Merge Two Dictionaries

In [12]:
# Your answer here
def merge_dict(dict1, dict2):
    return {**dict1, **dict2}
dict1 = {'m':1,'l':2,'n':3}
dict2 = {'k':4,'j':5,'i':9}
print(merge_dict(dict1, dict2))

{'m': 1, 'l': 2, 'n': 3, 'k': 4, 'j': 5, 'i': 9}

### Question 51

Safely Create a Nested Directory

In [15]:
# Your answer here
students = {}
students['student1'] = {'name':'Manish','Rollno':539,'Grade':'B'}
students['student2' ] = {'name':'Krish','Rollno':518,'Grade':'A'}
students['student3'] = {'name':'Om','Rollno':522,'Grade':'A+'}
print("Student Details\n")
print(students)

Student Details

{'student1': {'name': 'Manish', 'Rollno': 539, 'Grade': 'B'}, 'student2': {'name': 'Krish', 'Rollno': 518, 'Grade': 'A'}, 'student3': {'name': 'Om', 'Rollno': 522, 'Grade': 'A+'}}

### Question 52

Access Index of a List Using for Loop

In [ ]:
# Your answer here
def access_list(lst):
    for i in range(len(lst)):
        print(lst[i])
lst = input().split()
access_list(lst)

10
19
20

### Question 53

Flatten a Nested List

In [20]:
# Your answer here
def flat_list(nested):
    flatted_list = []
    for element in nested:
        if type(element) is list:
            for item in element:
                flatted_list.append(item)
        else:
            flatted_list.append(element)
    return flatted_list
lis = [[11, 22, 33, 44], [55, 66, 77], [88, 99, 100]]
print(lis)
print("-------------")
print(flat_list(lis))

[[11, 22, 33, 44], [55, 66, 77], [88, 99, 100]]
-------------
[11, 22, 33, 44, 55, 66, 77, 88, 99, 100]

### Question 54

Slice Lists

In [22]:
# Your answer here
def slicing(lst):
    print(lst[:2]) # for values upto second index
    print(lst[1:6]) # for all values between index 1 and 6(excluding)
    print(lst[::-1]) # accessing all values inside list in reverse flow
lis = [11, 22, 33, 44, 55, 66, 77, 88, 99, 110]
slicing(lis)

[11, 22]
[22, 33, 44, 55, 66]
[110, 99, 88, 77, 66, 55, 44, 33, 22, 11]

### Question 55

Iterate Over Dictionaries Using for Loop

In [4]:
# Your answer here
def iterate(dict1):
    for key, value in dict1.items():
        print(f"{key}:{value}")
diction = {'name':'Manish','Roll':539}
iterate(diction)

name:Manish
Roll:539

### Question 56

Sort a Dictionary by Value

In [6]:
# Your answer here
def sorting_sorted(dic):
    return sorted(dic.items(), key=lambda kv: (kv[1], kv[0]))
d = {2: 'manish', 100: 'anshul', 3: 'anish'}
print(sorting_sorted(d))

[(3, 'anish'), (100, 'anshul'), (2, 'manish')]

### Question 57

Check If a List is Empty

In [12]:
# Your answer here
lst = [1]
if not lst:
    print("list is empty")
else:
    print("list has some values->", lst)

list has some values-> [1]

### Question 58

Catch Multiple Exceptions in One Line

In [14]:
# Your answer here
try:
    # code that may raise exceptions
    x = int("abc")
    y = 10 / 0
except (ValueError, ZeroDivisionError) as e:
    print("Exception occurred:", e)

Exception occurred: invalid literal for int() with base 10: 'abc'

### Question 59

Copy a File

In [19]:
# Your answer here
file = 'mail1.txt'
copied = file[:]
print(copied)

import shutil
shutil.copy("mail1.txt","mail1_copy.txt")
print("File copied successfully")


# Shutil for copy

mail1.txt
File copied successfully

### Question 60

Concatenate Two Lists

In [22]:
# Your answer here
def concat(l1, l2):
    return l1 + l2
lst1 = [1,2,3,4,4]
lst2 = [4,5,6,64,3]
print(concat(lst1, lst2))

def concat_extend(l1, l2):
    l1.extend(l2)
    return l1
print(concat_extend(lst1, lst2))

[1, 2, 3, 4, 4, 4, 5, 6, 64, 3]
[1, 2, 3, 4, 4, 4, 5, 6, 64, 3]

### Question 61

Check if a Key is Already Present in a Dictionary

In [ ]:
# Your answer here

### Question 62

Split a List Into Evenly Sized Chunks

In [ ]:
# Your answer here

### Question 63

Parse a String to a Float or Int

In [ ]:
# Your answer here

### Question 64

Print Colored Text to the Terminal

In [ ]:
# Your answer here

### Question 65

Convert String to Datetime

In [ ]:
# Your answer here

### Question 66

Generate a Random Number

In [26]:
# Your answer here
import random
print(random.random())

0.7803229192308346

### Question 67

Get the Last Element of the List

In [27]:
# Your answer here
def last_element(lst):
    return lst[-1]
lst = [1,2,3,4]
print(last_element(lst))

4

### Question 68

Get a Substring of a String

In [ ]:
# Your answer here

### Question 69

Print Output Without a Newline

In [ ]:
# Your answer here

### Question 70

read a File Line by Line Into a List

In [ ]:
# Your answer here

### Question 71

Randomly Select an Element From the List

In [ ]:
# Your answer here

### Question 72

Check If a String Is a Number (Float)

In [ ]:
# Your answer here

### Question 73

Count the Occurrence of an Item in a List

In [ ]:
# Your answer here

### Question 74

Append to a File

In [ ]:
# Your answer here

### Question 75

Delete an Element From a Dictionary

In [ ]:
# Your answer here

### Question 76

Create a Long Multiline String

In [ ]:
# Your answer here

### Question 77

Extract Extension From the File Name

In [ ]:
# Your answer here

### Question 78

Measure the Elapsed Time in Python

In [ ]:
# Your answer here

### Question 79

Get the Class Name of an Instance

In [ ]:
# Your answer here

### Question 80

Convert Two Lists Into a Dictionary

In [ ]:
# Your answer here

### Question 81

Differentiate Between type() and isinstance()

In [ ]:
# Your answer here

### Question 82

Trim Whitespace From a String

In [ ]:
# Your answer here

### Question 83

Get the File Name From the File Path

In [ ]:
# Your answer here

### Question 84

Represent enum

In [ ]:
# Your answer here

### Question 85

Return Multiple Values From a Function

In [ ]:
# Your answer here

### Question 86

Get Line Count of a File

In [ ]:
# Your answer here

### Question 87

Find All File with .txt Extension Present Inside a Directory

In [ ]:
# Your answer here

### Question 88

Get File Creation and Modification Date

In [ ]:
# Your answer here

### Question 89

Get the Full Path of the Current Working Directory

In [ ]:
# Your answer here

### Question 90

Iterate Through Two Lists in Parallel

In [ ]:
# Your answer here

### Question 91

Check the File Size

In [ ]:
# Your answer here

### Question 92

Compute the Power of a Number

In [ ]:
# Your answer here

### Question 93

Count the Number of Digits Present In a Number

In [ ]:
# Your answer here

### Question 94

Check If Two Strings are Anagram

In [ ]:
# Your answer here

### Question 95

Capitalize the First Character of a String

In [ ]:
# Your answer here

### Question 96

Compute all the Permutation of the String

In [ ]:
# Your answer here

### Question 97

Create a Countdown Timer

In [ ]:
# Your answer here

### Question 98

Count the Number of Occurrence of a Character in String

In [8]:
# Your answer here

### Question 99

Remove Duplicate Element From a List

In [10]:
# Your answer here